* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0;
}

/* ícone de som*/
.sound-btn {
  position: absolute;
  top: 30px;
  left: 65px;
  border: 0;
  cursor: pointer;
  padding: 20px;
  background: url("../assets/Asset\ 47.svg") center no-repeat;
}

/*Logo do game*/
.logo {
  height: 15vw;
}

/*Botão start*/
.btn {
  background: url("../assets/Asset\ 18.png") center no-repeat;
  cursor: pointer;
  border: 0;
  height: 15vh;
  border-radius: 20px;
  margin-top: 35px;
  margin-right: 25px;
}

/*Efeito do botão start*/
.btn:focus {
  outline: 0;
}

/*Efeito ao passar o mouse em cima do botão start*/
.btn:hover {
  background: transparent url("../assets/Asset\ 17.png") center no-repeat;
}

/*Efeito ao botão estar clicado*/
.btn:active {
  transform: scale(0.98);
}

/*Botão de pausa*/
.pause-btn {
  position: absolute;
  height: 55px;
  width: 147px;
  top: 108px;
  right: 33px;
  cursor: pointer;
  border: 0;
  background: transparent url("../assets/Asset\ 31.svg") center no-repeat;
}

/*Efeito ao passar o mouse em cima do botão de pausa*/
.pause-btn:hover {
  background: transparent url("../assets/../assets/Asset\ 86.svg") center
    no-repeat;
}

/*Botão do tutorial*/
.tutorial-btn {
  position: absolute;
  cursor: pointer;
  border: 0;
  height: 55px;
  width: 147px;
  top: 40px;
  right: 33px;

  background: transparent url("../assets/Asset\ 81.svg") center no-repeat;
}

/*Efeito ao passar o mouse em cima do botão do tutorial*/
.tutorial-btn:hover {
  background: transparent url("../assets/Asset\ 82.svg") center no-repeat;
}

/*Menu do game*/
.menu {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  top: 14vw;
  left: 40vw;
  min-height: 50vh;
  width: 25vw;
  padding: 20px;
  line-height: 1.5;
  transform: translateY(-100px);
  transition: transform 1s ease-in-out;
}

/*Tutorial do game*/
.tutorial {
  height: 50vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: 14vw;
  left: 25vw;
  border-radius: 20px;
  background-color: rgba(174, 204, 238, 0.726);
  box-shadow: #ccc 5px 5px 14px;
  color: saddlebrown;
  font-weight: bolder;
  transform: translateY(-1000px);
  transition: transform 1s ease-in-out;
}

/*Imagens do tutorial*/
.tutorial img {
  width: 15%;
}

/*tecla W do tutorial*/
.w {
  padding-bottom: 30px;
}

/*teclas do tutorial*/
.teclas {
  padding-left: 230px;
}

/*mouse tutorial*/
.mouse {
  width: 15vw;
  height: 11vh;
}

/*botão de fechar o tutorial*/
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 0;
  cursor: pointer;
  padding: 17px;
  border: 0;
  background: transparent url("../assets/times-solid.svg") center no-repeat;
}

/*Efeito de transição no menu*/
.menu.hidden {
  transform: translateY(-530px);
}

.menu.show {
  transform: translateY(-110px);
}

/*Efeito de transição no tutorial*/
.tutorial.hidden {
  transform: translateY(0);
}

.historia, .morte {
  position: absolute;
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  transform: translateY(-1000px);
  transition: transform 0.1s ease-in-out;
}

.historia.show, .morte.show {
  opacity: 1;
  transition: opacity 1s ease-in;
  transform: translateY(0);
}
.historia.hidden, .morte.hidden {
  opacity: 0;
  transition: opacity 1s ease-out;
  transform: translateY(0);
}
.conteudo-historia, .conteudo-morte {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: saddlebrown;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  height: 41vh;
  width: 50vw;
  transform: translateY(100px);
}

.conteudo-historia.show, .conteudo-morte.show {
  transform: translateY(0);
  transition: transform 1s ease-in-out;
}

.imagem-historia, .imagem-morte {
  height: 20vh;
  width: 15vw;
}

.imagem-historia img, .imagem-morte img {
  height: 20vh;
}

.continuar-btn, .voltar-btn {
  border: 0;
  cursor: pointer;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: bolder;
  background: none;
  color: white;
  position: absolute;
  top: 470px;
  right: 180px;
}

.continuar-btn:hover, .voltar-btn {
  color: green;
}
