<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../styles/menu-style.css" />
    <link rel="stylesheet" href="..//styles/font-awesome-4.7.0/css/font-awesome.min.css">
    <title>Game jam Title</title>
  </head>
  <body>

    <div class="icone">
      <i class="fa fa-volume-off" id="sound-off" aria-hidden="true"></i>
      <i class="fa fa-volume-up" id="sound-on" aria-hidden="false"></i>
    </div>

    <div id="rules" class="rules">
      <h1>ratatouille evil</h1>
      <h2>Como jogar:</h2>
      <p>
        teste teste teste
      </p>
      <div>
        <img src="../assets/Asset 18.png" alt="">
      </div>
    </div>

    <script src="../app/index.js" type="module"></script>
  </body>
</html>