<!DOCTYPE html>
<html lang="pt0br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../styles/menu-style.css" />
    <link
      rel="stylesheet"
      href="../styles/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <title>Ratatouille Evil</title>
  </head>

  <body>
    <span id="ex"></span>
    <span id="ey"></span>
    <span id="atira"></span>
    <div class="jogo">
      <div class="tutorial" id="tutorial">
        <div class="teclas">
          <img class="a" src="../assets/Asset 55.svg" alt="" />
          <img class="w" src="../assets/Asset 56.svg" alt="" />
          <img class="d" src="../assets/Asset 58.svg" alt="" />
        </div>
        <p>Use as teclas do teclado para andar e pular</p>
        <img class="mouse" src="../assets/Asset 53.svg" alt="" />
        <p>Use o botão esquerdo do mouse para atirar e o mouse para mirar</p>
        <button class="close" id="close-btn"></button>
      </div>

      <button class="sound-btn" id="sound-btn"></button>

      <button class="pause-btn" id="pause" style="display: none"></button>

      <button class="tutorial-btn" id="tutorial-btn"></button>

      <div id="menu" class="menu">
        <div class="logo">
          <img src="../assets/Asset 84.svg" alt="" />
        </div>

        <button id="start-btn" class="btn"></button>
      </div>
    </div>

    <div class="historia" id="historia">
      <div class="conteudo-historia" id="conteudo-historia">
        <p>King Ratazana trabalha como chefe na cozinha do rei...</p>
        <p>
          Por algum motivo qualquer, hoje decidiram fazer uma limpeza na cozinha
          do castelo
        </p>
        <p>Oh! Não! King Ratazana foi descoberto e demitido por ser um rato</p>
        <p>
          King Ratazana - Se eu trabalhando sou destratado agora eles verão do
          que um rato é capaz!!!
        </p>
        <p>
          Assim, com sede de vingança, a ratazana imunda embarca em uma cruzada
          contra a humanidade, espalhando uma peste mortal por onde passa...
        </p>

        <div class="imagem-historia">
          <img src="../assets/Rato (2).svg" alt="" />
        </div>

        <button id="startGame" class="continuar-btn">
          clique para continuar...
        </button>
      </div>
    </div>

    <div class="morte" id="morte">
      <div class="conteudo-morte" id="conteudo-morte">
        <p>VOCÊ MORREU!!!</p>
        <p>
          A população da cidade estava esperta e decidiu coperar com os doutores da vila.
        </p>
        <p>Os aldões cuidaram de sua higiene, fizeram controle de pragas e se protegeram...</p>
        <p>
          É, King Ratazana, não foi dessa vez que você conseguiu se vingar!
        </p>

        <div class="imagem-morte">
          <img src="../assets/Rato (2).svg" alt="" />
        </div>

        <button id="restartGame" class="voltar-btn">
          clique para recomeçar...
        </button>
      </div>
    </div>

    <div class="win" id="win">
      <div class="conteudo-win" id="conteudo-win">
        <p>POPULAÇÃO DIZIMADA!!!</p>
        <p>
          Nem todos os equipamentos, medidas se de segurança, higiene e doutores foram capazes
          de deter o King Ratazana HAHAHAHAHAHA' 
        </p>

        <div class="imagem-win">
          <img src="../assets/Rato (2).svg" alt="" />
        </div>

        <button id="restartGame" class="voltar-btn">
          clique para recomeçar...
        </button>
      </div>
    </div>
    <audio id="gameMusic"></audio>
    <audio id="rato-fx"></audio>
    <audio id="pulga-fx"></audio>
    <script src="../app/index.js" type="module"></script>
  </body>
</html>
